@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  background: #e5d5b4;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 750px;
  align-items: center;
}


body::after {
  content: '';
  display: block;
  position: fixed;
  inset: 0;
  width: 100%;
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: -1;
  filter: brightness(95%);
}
@font-face {
  font-family: bauhaus;
  src: url(Square.woff);
}

.footer {
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  background-color: hsl(54, 64%, 54%);
  display: grid;
  place-items: center;
  font-family: 'Bebas Neue';
  padding-block: 0.5rem;
}
.art {
  width: 100%;
  height: 100%;
  background: url(WhatsApp_Image_2022-11-10_at_18.32.07-removebg.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(60%);
}
.content{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
}
.card{
    padding: 2rem 1rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.699);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
}
.card-title{
    font-weight: bold;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    flex-direction: column;
}
.card-subtitle{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.field{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.input{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
input[type="text"], input[type="password"]{
    padding: 0.7rem 0.8rem;
    font-family: 'Roboto Condensed', sans-serif;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.596);
    border: 1px solid black;
    box-shadow: none;
    padding-left: 2.5rem;
    outline: none;
    border-radius: 5px;
}
.icon{
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
}
.icon::after{
    content: '';
    display: block;
    position: absolute;
    height: 120%;
    width: 1px;
    background-color: rgba(128, 128, 128, 0.68);
    right: -50%;
    top: 0;
    transform: translateY(-10%);
}
button[type="submit"]{
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    background-color: hsl(358, 51%, 38%);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    box-shadow: 0 5px 0 0 hsl(358, 51%, 24%);
    cursor: pointer;
}
.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3rem;
  padding-block: 25px;
  position: absolute;
  inset: 0 0 auto 0;
  z-index: 10;
}
.logo {
  font-family: bauhaus;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.button {
  font-size: 0.9rem;
  background-color: hsl(358, 51%, 38%);
  padding: 0.7rem 1.2rem;
  color: white;
  font-family: bauhaus;
}
.navs {
  font-family: 'Bebas Neue';
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  background: #d4b636;
  padding: 0.3rem 1rem;
  position: relative;
  clip-path: circle(0% at 0% 50%);
  transition: 500ms ease-in-out;
}
.nav {
  cursor: pointer;
  position: relative;
}
.nav::after {
  content: '';
  display: block;
  position: absolute;
  inset: auto 0 0 0;
  background-color: black;
  height: 3px;
  width: 0;
  transition: 500ms ease-in-out;
}
.nav:hover::after {
  width: 100%;
}
.navs::after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  aspect-ratio: 1/1;
  inset: 50% auto auto -5%;
  background: #d4b636;
  transform: translateY(-50%) rotate(45deg);
}
.button:hover + .navs,
.navs:hover {
  clip-path: circle(150% at 0% 50%);
}
.account {
  padding: 0.7rem 1.5rem;
  background-color: black;
  color: white;
  font-family: bauhaus;
  border-radius: 10px;
  cursor: pointer;
}
.logout {
  position: absolute;
  inset: auto 0 auto 0;
  text-align: center;
  margin-top: 0;
  background-color: hsl(358, 51%, 38%);
  opacity: 0;
  transition: margin-top 500ms ease-in-out, opacity 200ms ease-in-out;
}

button:hover{
    background-color: hsl(358, 51%, 33%);
}
button:active{
    transform: translateY(4px);
    box-shadow: 0 1px 0 0 hsl(358, 51%, 24%);
}


.input + label{
    margin-top: 10px;
}
label{
    font-family: 'Bebas Neue';
    font-size: 0.85rem;
}
.see{
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 10px;
    opacity: 0.2;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.see:hover{
    opacity: 1;
}
.toasts{
    position: fixed;
    inset: auto auto 10px 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 0.6rem;
}
.toast{
    background-color: hsla(0, 2%, 10%, 0.836);
    padding: 0.9rem 1.5rem;
    width: 200px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    transition: 250ms ease-in-out;
}
.big-button {
  background-color: #912f32;
  padding: 0.7rem 1rem;
  cursor: pointer;
  color: white;
  font-family: 'Bebas Neue';
  position: relative;
}
.dropdown {
  width: 100%;
  background-color: hsl(358, 51%, 28%);
  position: absolute;
  overflow: hidden;
  transition: max-height 0.15s ease-in-out;
}
.dropdown.active {
  max-height: var(--height) !important;
}
.dropdown-item {
  color: rgb(224, 224, 224);
  font-family: 'Bebas Neue';
  padding: 1rem 1.7rem;
  cursor: pointer;
  transition: 400ms ease-in-out;
}
.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.256);
  color: white;
}
.dropdown-item:not(:last-child) {
  border-bottom: 1px solid black;
}
.has-dropdown {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
}
.right {
  background-color: hsl(358, 51%, 8%);
  position: absolute;
  inset: 0 0 0 auto;
  width: 50px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.big-button.active > .right {
  transform: rotate(180deg);
}
#dd1{
box-sizing: border-box;
}
.divider{
    display: flex;
    gap: 0.7rem;
    width: 90%;
}
.divider::before, .divider::after{
    content: '';
    display: block;
    flex: 2;
    height: 1px;
    background-color: gray;
}
.divider > p{
    margin: 0;
    margin-top: -10px;
    font-family: 'Bebas Neue';
}
.account:hover + .logout,
.logout:hover {
  opacity: 1;
  margin-top: 10px;
}